:root {
    --pink: #824a5a;
}

header .navbar {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand .icon {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    margin-left: 2rem;
    color: #666;
    text-decoration: none;
    
}

.navbar-nav .nav-link:hover {
    color: var(--pink);
}

.nav-icon {
    font-size: 2rem;
    margin-left: 1.5rem;
    color: #666;
}

.nav-icon:hover {
    color: var(--pink);
}

.navbar-toggler {
    color: #666;
    border: 0.5rem solid #666;
    border-radius: 0.1rem;
    padding: .5rem 1.5rem;
}

.navbar-toggler-icon {
    font-size: 3rem;
    color: #666;
}

Reduced button size
.btn {
    display: inline-block;
    padding: 0.5rem 1rem; /* Reduced padding */
    border: 0.1rem solid var(--pink);
    color: var(--pink);
    font-size: 1rem; /* Reduced font size */
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn:hover {
    color: #fff;
    background-color: var(--pink);
}

/* Reduced search bar size */
.form-control {
    padding: 0.5rem; /* Adjust padding */
    font-size: 1rem; /* Reduced font size */
    width: 10px; /* Set a fixed width for the search bar */
    height: 30px;
}

